.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 70px;
  width: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .left-side {
  margin-left: 2rem;
  position: relative;
}

.header .left-side p,
.header .left-side a {
  display: inline-block;
  margin: 1.3rem;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header .left-side i {
  font-size: 14px;
  padding-left: 5px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.header .mid-side a {
  font-size: 36px;
  text-decoration: none;
  color: #fff;
  font-family: cursive;
  cursor: pointer;
}

.header .right-side {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: space-between;
  }

  .header .left-side {
    display: none !important;
  }

  .header .mid-side {
    margin-left: 1rem;
  }

  /*.header .right-side .search-box {*/
  /*  display: none !important;*/
  /*}*/
}
