.top-part {
  background: url("https://klike.net/uploads/posts/2019-11/1574605267_21.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8em 3em 6em;
}

.top-part-title {
  width: 50%;
  padding-left: 2em;
  text-align: left;
  color: #fff;
}

.top-part-title > h1 {
  font-size: 54px;
  margin: 10px 0;
}
.top-part-title > p {
  font-size: 18px;
  font-weight: 500;
}
.top-part-title > h1 > span {
  padding-right: 5px;
  color: #000;
  font-weight: 300;
}

.top-part .video-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 5%;
}

.top-part .video-area > .video > .video-play > i {
  font-size: 28px;
}

@media only screen and (max-width: 600px) {
  .top-part {
    flex-direction: column-reverse;
    height: fit-content;
    padding: 8rem 0 5rem;
  }

  .top-part-title {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3.5rem;
    padding-top: 3rem;
  }

  .top-part-title > h1 {
    font-size: 2.4rem;
    margin: 10px 0;
  }

  .top-part-title > p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .top-part .video-area {
    width: 100%;
  }

  .top-part .video-area > .video {
    width: 70%;
    height: 480px;
    padding: 10px 6px;
  }

  .top-part .video-area > .video > iframe {
    width: 92%;
    height: 464px;
  }
}

@media only screen and (max-width: 500px) {
  .top-part-title {
    width: 90%;
    padding-left: 2rem;
  }

  .top-part-title > h1 {
    font-size: 1.8rem;
    margin: 10px 0;
  }

  .top-part-title > p {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .top-part .video-area > .video {
    width: 85%;
  }
}
